/* styles.css */
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgba(8, 3, 85, 0.264)
}


h2{
     font-family: "Popppins", sans-serif;
    color: rgb(25, 8, 121);
    text-align: center;
}

h3{
    font-family: 'Poppins', sans-serif;
    color: mediumvioletred;
    text-align: center;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-size:12px;
    text-align: left;
}

h5{
    color:mediumpurple;

}

select{
    text-align: center;
}

p{
    font-family: 'Poppins', sans-serif;
    color:mediumpurple;
    text-align: center;
    font-size:12px;
    font-weight: bold;
}


#servicio{
    font-family: 'Poppins', sans-serif;
    color:rgb(175, 55, 85);
    text-align: center;
    font-size:15px;
    font-weight: bold;
    text-align: left;
}

.card-title{
    font-family: 'Poppins', sans-serif;
    color:rgb(175, 55, 85);
    text-align: center;
    font-size:20px;
    font-weight: bold;
    text-align: left;
}

#NOMBRE{
    font-family: 'Poppins', sans-serif;
    color:rgb(41, 19, 100);
    text-align: center;
    font-size:20px;
    font-weight: bold;
    text-align: left;
}


#boton_agendar{
    font-family: 'Poppins', sans-serif;
color:rgb(25, 0, 255);
font-size:12;
}


.btn-conteiner {
    display: flex;
    justify-content: center;
    --color-text: #151315;
    --color-background: #ff13818f;
    --color-outline: #ff145b80;
    --color-shadow: #71156be1;
  }

